{
  "openapi": "3.1.0",
  "info": {
    "title": "Affiliatus API",
    "description": "API REST para integração com o sistema de afiliados Affiliatus.io",
    "version": "1.0.0",
    "contact": {
      "name": "Suporte Affiliatus",
      "email": "suporte@affiliatus.io",
      "url": "https://affiliatus.io"
    },
    "license": {
      "name": "Proprietary"
    }
  },
  "servers": [
    {
      "url": "https://api.affiliatus.io",
      "description": "Servidor de Produção"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "paths": {
    "/events/api": {
      "post": {
        "summary": "Enviar Eventos",
        "description": "Envia eventos de rastreamento (conversões, leads, page views) para o sistema",
        "operationId": "sendEvents",
        "tags": ["Eventos"],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EventBatch"
              },
              "examples": {
                "single_conversion": {
                  "summary": "Conversão única",
                  "value": {
                    "events": [
                      {
                        "event_type": "conversion",
                        "campaign_id": "abc-123-def",
                        "affiliate_id": "JOAO1",
                        "properties": {
                          "order_id": "ORDER-12345",
                          "order_value": 99.90,
                          "product": "Plano Premium"
                        }
                      }
                    ]
                  }
                },
                "batch_conversions": {
                  "summary": "Múltiplas conversões",
                  "value": {
                    "batch": true,
                    "events": [
                      {
                        "event_type": "conversion",
                        "campaign_id": "abc-123-def",
                        "affiliate_id": "JOAO1",
                        "properties": {
                          "order_id": "ORDER-001",
                          "order_value": 99.90
                        }
                      },
                      {
                        "event_type": "conversion",
                        "campaign_id": "abc-123-def",
                        "affiliate_id": "MARIA2",
                        "properties": {
                          "order_id": "ORDER-002",
                          "order_value": 149.90
                        }
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Eventos processados com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Dados inválidos",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "API Key ausente ou inválida",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "API Key revogada ou limite excedido",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit excedido",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key",
        "description": "API key obtida em Configurações → API Keys no dashboard"
      }
    },
    "schemas": {
      "EventBatch": {
        "type": "object",
        "required": ["events"],
        "properties": {
          "batch": {
            "type": "boolean",
            "description": "Indica se está enviando múltiplos eventos em lote",
            "default": false
          },
          "events": {
            "type": "array",
            "description": "Array de eventos a serem processados",
            "items": {
              "$ref": "#/components/schemas/Event"
            },
            "minItems": 1
          }
        }
      },
      "Event": {
        "type": "object",
        "required": ["event_type", "campaign_id", "affiliate_id", "properties"],
        "properties": {
          "event_type": {
            "type": "string",
            "enum": ["conversion", "lead", "page_view"],
            "description": "Tipo do evento"
          },
          "campaign_id": {
            "type": "string",
            "description": "ID público da campanha"
          },
          "affiliate_id": {
            "type": "string",
            "description": "Código de referência do afiliado"
          },
          "properties": {
            "$ref": "#/components/schemas/EventProperties"
          },
          "device_info": {
            "$ref": "#/components/schemas/DeviceInfo"
          }
        }
      },
      "EventProperties": {
        "type": "object",
        "properties": {
          "order_id": {
            "type": "string",
            "description": "ID único do pedido (obrigatório para conversões)"
          },
          "order_value": {
            "type": "number",
            "format": "float",
            "description": "Valor da venda em reais (obrigatório para conversões)",
            "minimum": 0
          },
          "url": {
            "type": "string",
            "format": "uri",
            "description": "URL da página onde ocorreu o evento"
          },
          "product": {
            "type": "string",
            "description": "Nome do produto ou plano vendido"
          },
          "customer_email": {
            "type": "string",
            "format": "email",
            "description": "E-mail do cliente"
          },
          "customer_name": {
            "type": "string",
            "description": "Nome do cliente"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp do evento em ISO 8601"
          }
        }
      },
      "DeviceInfo": {
        "type": "object",
        "description": "Informações do dispositivo do usuário",
        "properties": {
          "user_agent": {
            "type": "string",
            "description": "User agent do navegador"
          },
          "ip": {
            "type": "string",
            "description": "Endereço IP do cliente"
          },
          "language": {
            "type": "string",
            "description": "Idioma do navegador"
          },
          "screen_width": {
            "type": "integer",
            "description": "Largura da tela em pixels"
          },
          "screen_height": {
            "type": "integer",
            "description": "Altura da tela em pixels"
          }
        }
      },
      "SuccessResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "statusCode": {
            "type": "integer",
            "example": 400
          },
          "message": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            ],
            "example": "Validation error"
          },
          "error": {
            "type": "string",
            "example": "Bad Request"
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Eventos",
      "description": "Endpoints para envio e rastreamento de eventos"
    }
  ]
}
